fastapi==0.115.4

langchain==0.3.4
langchain_experimental==0.3.2
langchain_openai==0.2.3
langgraph==0.2.39
langchain-community==0.3.3
langchain-core==0.3.12
tiktoken==0.7.0
pydantic[email]==2.9.2

openai

python-Levenshtein
networkx

jinja2

python-dotenv
neo4j==5.11
uvicorn==0.32.0
pandas==2.0.1
python-decouple==3.8
bcrypt==4.0.1
httpx==0.27.2
jose== 1.0.0
passlib==1.7.4
jwt==1.3.1
python-jose==3.3.0
python-multipart==0.0.6

beautifulsoup4==4.12.2
docx2txt
unstructured
python-docx 
Spire.Doc
simsimd==3.7.7
json5
celery
flower
IPython
minio
pika
retrying==1.3.4
graphdatascience==1.11
tqdm==4.66.2
numpy==1.26.4
pypdf==5.1.0 
typer 

# TODO replace with knowledge store 
duckduckpy
duckduckgo-search
scikit-learn
wikipedia
tavily-python
